.skills__list {
    max-width: 600px; /* Increase max-width for more skills per row */
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skills__list-item {
    margin: 0.5em;
    flex-basis: calc(25% - 1em); /* Adjust the flex-basis for desired number of skills per row */
    max-width: calc(25% - 1em); /* Adjust max-width to match flex-basis */
  }
  
  .skill-logo {
    max-width: 100%; /* Set the maximum width of the logo */
    max-height: 100px; /* Set the maximum height of the logo */
    display: flex; /* Add display flex to the list item */
    margin-top: 20px;
    /* flex-direction: column; Align children vertically */
    /* justify-content: center; Center children vertically */
    /* align-items: center; Center children horizontally */
  }
  